<div class="row content-body">
  Categories

  <div class="category-list column">
    <div class="category row" *ngFor="let category of categories">
      <a [routerLink]="['/catalog', category.id]">
        <span class="category-name">{{category.displayName}}</span>
        <span class="category-sensor-count">{{category.count}}</span>
      </a>
    </div>
  </div>
</div>
