.category-list {

  .category {

    .category-name {
      display: inline-block;
      vertical-align: top;
    }

    .category-sensor-count {
      display: inline-block;
      font-size: 10px;
      margin-top: 9px;
    }
  }
}
