$line-height: 48px;
$nav-padding: 4px;

nav {
  height: $line-height;
  padding-top: $nav-padding;
  padding-bottom: $nav-padding;

  >ul.nav-links {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
    vertical-align: top;

    >li.nav-link {
      margin: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      line-height: $line-height - 2 * $nav-padding;

      a.header-logo-link {
        height: 100%;

        >img {
          height: inherit;
          vertical-align: top;
        }
      }

      a.highlightable, a.highlightable:visited {
        color: #b3b3b3;
        font-family: EnigmaBold, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 0 5px;

        &:hover,
        &.active {

          &.active-red {
            color: red;
          }

          &.active-blue {
            color: #4d6aff;
          }

          &.active-lightblue {
            color: #2bcbff;
          }

          &.active-green {
            color: #00ec00;
          }

        }
      }
    }
  }
}
