<nav class="row">
  <ul class="nav-links">
    <li class="nav-link">
      <a routerLink="/" class="highlightable active-red" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-link">
      <a routerLink="/catalog" class="highlightable active-blue" routerLinkActive="active">Catalog</a>
    </li>
    <li class="nav-link">
      <a routerLink="/manager" class="highlightable active-lightblue" routerLinkActive="active">Manager</a>
    </li>
  </ul>
</nav>

