<div class="row content-body">
  Providers management

  <p-dataTable [value]="providers">
    <p-footer><button (click)="addProvider()">Add provider</button></p-footer>

    <p-column field="id" header="Id"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
        <span>Actions</span>
      </ng-template>
      <ng-template let-provider="rowData" pTemplate="body">
        <div class="actions-list">
          <button class="action-button" type="button" pButton (click)="editProvider(provider)">
            <img src="assets/images/edit.png">
          </button>
          <button class="action-button" type="button" pButton (click)="deleteProvider(provider.id)">
            <img src="assets/images/delete-sign.png">
          </button>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <provider-edit-modal></provider-edit-modal>
  <provider-add-modal></provider-add-modal>
</div>
