<modal id="category-add-modal">
  <div class="modal">
    <div class="modal-body">
      <div class="content-body row">
        <div class="inline-block">
          <form [formGroup]="addCategoryForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Display name
                  <input class="displayName"
                         formControlName="displayName"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <button class="button small" (click)="submit(addCategoryForm)">Add new</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</modal>
