<modal id="sensor-add-modal">
  <div class="modal">
    <div class="modal-body">
      <div class="content-body row">
        <div class="inline-block">
          <form [formGroup]="addSensorForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Name
                  <input class="name"
                         formControlName="name"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Price
                  <input class="price"
                         formControlName="price"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Amount
                  <input class="amount"
                         formControlName="amount"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Description
                  <input class="description"
                         formControlName="description"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Category
                  <select class="category"
                          formControlName="category"></select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Provider
                  <select class="provider"
                          formControlName="provider"></select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <button class="button small" (click)="submit(addSensorForm)">Add new</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</modal>
