<div class="row content-body">
  What to manage?
  <ul>
    <li><a routerLink="/manager/categories">Categories</a></li>
    <li><a routerLink="/manager/providers">Providers</a></li>
    <li><a routerLink="/manager/sensors">Sensors</a></li>
  </ul>

  <br/>

  <a routerLink="/manager/datastatus">Watch status of Database</a>

</div>
