<modal id="category-edit-modal">
  <div class="modal">
    <div class="modal-body">
      <div class="content-body row">
        <div class="inline-block">
          <form [formGroup]="editCategoryForm">
            <div class="row">
              <div class="large-12 columns">
                <span>Id: </span>
                <span class="id"></span>
                <input style="display: none !important;" hidden type="number" formControlName="id" class="id"/>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Display name
                  <input class="displayName"
                         formControlName="displayName"
                         type="text"
                         required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <button class="button small" (click)="submit(editCategoryForm)">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</modal>
