<div class="row content-body">
  Providers management

  <p-dataTable [value]="dataStatuses">

    <p-column field="tableName" header="Table Name"></p-column>
    <p-column field="indexName" header="Index Name"></p-column>
    <p-column field="rows" header="Rows"></p-column>
    <p-column field="totalPages" header="Total Pages"></p-column>
    <p-column field="usedPages" header="Used Pages"></p-column>
    <p-column field="dataPages" header="Data Pages"></p-column>

  </p-dataTable>

  <provider-edit-modal></provider-edit-modal>
  <provider-add-modal></provider-add-modal>
</div>
