<div class="row content-body">
  Sensors management

  <p-dataTable [value]="sensors">
    <p-footer><button (click)="addSensor()">Add sensor</button></p-footer>

    <p-column field="id" header="Id"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="amount" header="Amount"></p-column>
    <p-column field="category.displayName" header="Category"></p-column>
    <p-column field="provider.name" header="Provider"></p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
        <span>Price</span>
      </ng-template>
      <ng-template let-sensor="rowData" pTemplate="body">
        {{sensor.price + '$'}}
      </ng-template>
    </p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
        <span>Actions</span>
      </ng-template>
      <ng-template let-sensor="rowData" pTemplate="body">
        <div class="actions-list">
          <button class="action-button" type="button" pButton (click)="editSensor(sensor)">
            <img src="assets/images/edit.png">
          </button>
          <button class="action-button" type="button" pButton (click)="deleteSensor(sensor.id)">
            <img src="assets/images/delete-sign.png">
          </button>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <sensor-add-modal></sensor-add-modal>
  <sensor-edit-modal></sensor-edit-modal>
</div>
