:host /deep/ .category-list {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;

  button a {
    color: white;
  }


}

.actions-list {

  height: 30px;

  .action-button {
    height: 100%;
    cursor: pointer;
    vertical-align: middle;
    > img {
      height: inherit;
      vertical-align: top;
    }
  }
}

