<div class="row content-body">
  Category management

  <p-dataTable [value]="categories">
    <p-footer><button (click)="addCategory()">Add category</button></p-footer>

    <p-column field="id" header="Id"></p-column>
    <p-column field="displayName" header="Display Name"></p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
        <span>Actions</span>
      </ng-template>
      <ng-template let-category="rowData" pTemplate="body">
        <div class="actions-list">
          <button class="action-button" type="button" pButton (click)="editCategory(category)">
            <img src="assets/images/edit.png">
          </button>
          <button class="action-button" type="button" pButton (click)="deleteCategory(category.id)">
            <img src="assets/images/delete-sign.png">
          </button>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <category-edit-modal></category-edit-modal>
  <category-add-modal></category-add-modal>
</div>
